html, body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    background-color: #EEF0F4;
    user-select: none;
}

h1 {
    font-family: monospace;
    text-align: center;
}

h2 {
    font-family: monospace;
    margin-left: 60px;
   
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    max-height: 500px;
    margin: 30px auto;
    padding: 20px;
    overflow: scroll;
    background-color: white;
    border-radius: 10px !important;
}

img {
    width: 250px;
    margin: 0 auto;
}

img:hover {
    animation: rotate-infinite 3s linear infinite; 
}

@keyframes rotate-infinite {
    from {
        transform: rotate(0deg); 
    }
    to {
        transform: rotate(360deg); 
    }
}

input {
    color: tomato;
    background-color: #DCE1EB;
    border: 30px;
    padding: 15px;
    border-radius: 30px !important;
    font-size: 20px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    margin: 10px 0;
    font-family: monospace;
    caret-color: tomato;
}

input::placeholder {
    font-weight: bold;
    opacity: 0.5;
    color: rgba(255, 99, 71, 0.551) ; 
}

input:hover {
    outline: solid #ff3399  4px;
}

button {
    color: #FDFDFD;
    background-color: rgb(18, 158, 74);
    border: none;
    padding: 15px;
    border-radius: 30px !important;
    font-size: 20px;
    text-align: center;
    font-family: monospace;
    transition: border-color 0.3s;
}

button:hover {
    outline: solid #ff3399 4px;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

ul li {
    background-color: #FFB5D9;
    color: white;
    padding: 15px;
    border-radius: 30px !important;
    flex-grow: 1;
    text-align: center;
    font-family: monospace;
    
}

li:hover {animation: shaking 0.5s infinite;}
  @keyframes shaking {
      0% {transform: rotate(0deg);}
      20% {transform: rotate(-3deg);}
      50% {transform: rotate(0deg);}
      70% {transform: rotate(3deg);}
      100% {transform: rotate(0deg);}
}